{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="MTA Web Site" >
    <meta name="author" content="mami yazilim">
    <meta name="keywords" content="html,CSS">
    <meta name="wievpor"content="width=device-width, initial-scale=1.0">
     <title>Cars - Contact</title>

     <link rel="stylesheet" type="text/css" href="{% static "css/main.css"%}">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
     <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="sevenge.html"><img src="{% static "img/Ekran görüntüsü 2024-01-06 131527.png" %}"></a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="{% url "index" %}">Home</a></li>
                    <li><a href="{% url "car" %}">Cars</a></li>
                    <li><a href="{% url "about" %}">About</a></li>
                    <li><a href="{% url "contact" %}">Contact</a></li>
                   
                </ul>
            </div>
        </div>
    </header>

    <!-- MAIN SECTION -->

    <section id="contactSlider" class="slider">
        <div id="contactCaption" class="caption">
            <h1>CONTACT</h1>
            <p>Vix at tation facete impetus omnesque ius harum antiopam</p>
     
    </section>   
    
    <!--GALERY SECTİON-->
    
    <section id="gallery" class="sectionArea">
               <div class="galleryTop">
              <h2 class="sectionHeader">SIMPLE GALLERY</h2>
              <p>Vix at tation facete impetus omnesque ius harum antiopam</p>
               </div>
               <div class="galleryBody">
                              <div class="container">
                                  <div class="gallerySlider">
                                        <div class="gallerySliderItem">
                                    <img src="{% static "img/araba1.jpg" %}">
                                    <img src="{% static "img/araba2.jpg" %}">
                                    <img src="{% static "img/araba3.jpg" %}">
                                       </div>                    
                                  </div>                          
                              </div>
               </div>
               </section>

                <!--FORM SECTİON-->

                <section id="contact" class="sectionArea">
                      <div class="contactTop">
                     <h2 class="sectionHeader">CONTACT US</h2>
                     <p>Vix at tation facete impetus omnesque ius harum antiopam</p>
                    </div> 
                    <div class="ContactBody"> 
                        <div class="container">
                            <div class="wrapper">
                             <form class="contactForm" action="">
                                <div class="formItem">
                                    <span class="formShape">
                                       <i class="fa fa-user fa-2x"></i> 
                                    </span>
                                    <input class="formField" type="text"  placeholder="Full Name" required>
                                </div>
                                <div class="formItem">
                                    <span class="formShape">
                                       <i class="fa fa-envelope fa-2x"></i> 
                                    </span>
                                    <input class="formField" type="email"  placeholder="Email" required>
                                </div>
                                <div class="formItem">
                                    <span class="formShape">
                                       <i class="fa fa-mobile-phone fa-2x"></i> 
                                    </span>
                                    <input class="formField" type="tel"  placeholder="Phone Number" required>
                                </div>
                                <div class="formItem">
                                    <span class="formShape">
                                       <i class="fa fa-info fa-2x"></i> 
                                    </span>
                                    <input class="formField" type="text"  placeholder="Subject" required>
                                </div>
                                <div class="formItem">
                                    <span class="formShape">
                                       <i class="fa fa-comment fa-2x"></i> 
                                    </span>
                                    <textarea class="formField" type="text"  placeholder="Message" required></textarea>
                                </div>
                                <div class="formItem">
                                   <input type="submit" class="formBtn" value="submit">
                                </div> 
                             </form>   
                            </div>
                        </div>
                    </div>
                </section>

      <!---FOOTER SECTİON-->
                           <footer class="sectionArea">
                              <div class="container">
                                  <div class="col3">
                                      <div class="footerItem">
                                          <h3>WELCOME TO OUR SITE</h3>
                                          <a href="sevenge.html"><img src="{% static "img/111111111111.png" %}         "></a>
                                          <p>Lorem ipsum dolor sit amet consectetur
                                              adipisicing elit. Autem magni nulla labore voluptatem nam 
                                              asperiores ab aliquam distinctio </p>
                                      </div>
                                  </div>
                                  <div class="col3">
                                      <div class="footerItem">
                              <h3>QUICK LINKS</h3>
                              <ul class="footerLinks">
                                 <li><a href="sevenge.html">Home</a></li>
                                 <li><a href="cars.html">Cars</a></li>
                                      <li><a href="about.html">About</a></li>
                                 <li><a href="contact.html">Contact</a></li>
                               </ul>
</div>
</div>
<div class="col3">
<div class="footerItem">
<h3>BE SOCIAL WITH US</h3>
<ul class="socialLinks">
<li><a href="https://www.linkedin.com/in/muhammed-taha-altunkanat-9b1b4627a/"><i class="fa-brands fa-linkedin"></i></a></li>  
<li><a href="https://instagram.com/muhammedaltnknt?igsid=MmVjlkMTBhMG%3D%3D&utm_source=qr"><i class="fa-brands fa-instagram"></i></a></li>
<li><a href="https://github.com/mtaltunkanat"><i class="fa-brands fa-github"></i></a></li>
</ul>
</div>
</div>
</div>
</footer>
</body>
</html>